header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;    
    margin: 5px;      
}

.firm {
    /* width: 300px;     */
    line-height: 100px;
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;
    margin-left: 30px;
}
.firm {
    flex-basis: 38%;
}

header {
    display: flex;    
    justify-content: space-between;
    flex-direction: row ;
}

.lists {
    display: flex;
    line-height: 100px;
    text-align: center;    
}

.lists {
    display: none;  
}

.icons-top {
    display: none;
}

.menu-icon {
    justify-content: center;
    align-items: center;    
    display: flex;
    height: 98px;
    width: 200px;
    margin-left: 80px;
}

.div0 {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

.no1, .no2, .no3, .no4 {          
    margin: 5px;
    justify-content: center;
}

.img1, .img2, .img3, .img4, .img5, .img6  {
    width: 100%;
}

.gallery-02, .gallery-03 {
    display: none;
}

.first-block, .second-block, .third-block {
    margin: 20px 25px 30px 35px;
    text-align: justify;
}

.butt1, .butt2, .butt3 {
    margin: 25px 35px 35px 35px;
}

.no3 {
    border-bottom: 2px solid rgb(156, 156, 156);
}

.gallery1 {
    text-align: center;
    margin-top: 35px;
    margin-bottom: 35px;
}

aside {    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 5px;
}

.feat {
    display: flex; 
    flex-wrap: wrap;
    flex-basis: 90%;
    justify-content: center;
    text-align: justify;
    border-bottom: 2px solid rgb(156, 156, 156);
    margin-top: 30px;
    margin-bottom: 30px;
}

.symbol{
    flex-basis: 90%;
    justify-content: center;
    text-align: center;
}

.text {
    flex-basis: 70%;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.mail {       
    margin-left: 50px;
}

.tomail {
    text-align: center;
    margin-top: 20px;
}

.begin-quest-1, .begin-quest-2, .begin-quest-3 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.sending {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}

.sending-02 {
    margin-right: 10px;
}

footer {
    display: flex;
    flex-wrap: wrap;
    height: 230px;    
    border-top: 2px solid rgb(156, 156, 156);
    border-bottom: 2px solid rgb(156, 156, 156);    
    margin: 5px;
    margin-top: 50px;   
}

.icons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-basis: 100%;
    justify-content: center;
    margin-top: 50px;
}

.socials {
    height: 35px;
    margin: 3px;
}

.circle {
    display: flex;
    height: 50px;
    width: 50px;
    border: 2px solid black;
    border-radius: 50%;
    margin: 5px;
    margin-top: 15px;
    justify-content: center;
    align-items: center;
}

.untit {   
    flex-basis: 100%;
    text-align: center;
    margin-bottom: 30px;
}


@media (min-width: 600px) {
   header {
       justify-content: flex-start;
   }
   
    .firm {
        margin-left: 0;
        text-align: end;
        padding-right: 10px;
    }
    .menu-icon {
        display: none;
    }

    .icons-top {
        display: none;
    }

    .lists {
        display: flex;
    }

    .chapters {
        margin-left: 15px;
        margin-right: 15px;
    }  
  
    .no1 {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
    }

    .picture1 {
        flex-basis: 43%;
    }
    .first-block {
        flex-basis: 38%;
        margin-top: 0;
    }

    .no2 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 0;
        margin-right: 0;
    }
     
    .picture2 {
        flex-basis: 43%;
    }
    .second-block {
        flex-basis: 38%;
        margin-top: 0;
    }

    .no3 {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
    }
    .picture3 {
        flex-basis: 43%;
    }
    .third-block {
        flex-basis: 38%;
        margin-top: 0;
    }

    .no4 {
        display: flex;
        flex-wrap: wrap;
    }
    
    .gallery1 {
        flex-basis: 100%;        
    }

    .gallery-02 {
        display: block;
    }
    .gallery-01, .gallery-02 {
        flex-basis: 40%; 
    }
    
    .featall {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    } 

    .feat1 {
        flex-basis: 100%;
        text-align: center;
        margin-top: 45px;
    }

    .feat {
        flex-basis: 40%;
        margin-top: 0;
        margin-bottom: 0;
    }

    .sign1, .sign3, .sign5 {
        border-right: 2px solid rgb(156, 156, 156);
    }

    .sign5, .sign6 {
        border-bottom: none;
    }  
    
    .symbol {
        margin-top: 30px;
    }
    
    .begin-ques {
        display: flex;  
        justify-content: space-around;
        
    }
    .begin-quest-1, .begin-quest-2 {
        flex-basis: 20%;
        margin-right: 10px;
    }

    .begin-quest-3 {
        flex-basis: 20%;
        margin-right: 60px;
    }
    
}



@media (min-width: 850px) {
    body {
        font-size: 20px;
    }
    
    /* .icons-top {
        display: block;
        
    }
         */
    .icons-top {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
    /* flex-basis: 30%; */
    justify-content: center;
    margin-top: 13px;
    }

    .circle-top {
        border: none;
    }

    .socials-top {
        height: 25px;
        /* margin: 3px; */
    }
    /* header {
        justify-content: flex-start;
    } */
    
    /* .menu-icon {
        display: none;
    } */
    


    .lists {
        display: flex;
    }
    
    .chapters {
        margin-left: 15px;
        margin-right: 15px;
    }
    
    .gallery-03 {
        display: block;
    }
    
    .gallery-01, .gallery-02, .gallery-03  {
        flex-basis: 25%; 
        
    }
    
    /* .featall {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }  */

    .feat1 {
        flex-basis: 100%;
        text-align: center;
        margin-top: 45px;
    }

    .feat {
        flex-basis: 30%;
        margin-top: 0;
        margin-bottom: 0;
    }

    .sign2 {
        border-right: 2px solid rgb(156, 156, 156);
    }
    .sign3 {
        border-right: none;
    }
    .sign4 {
        border-bottom: none;
        border-right: 2px solid rgb(156, 156, 156);
    }
    .begin-ques {
        justify-content: space-around;
    }
    .begin-quest-3 {
        margin-right: 40px;
    }

    .no1 {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
    }

    .picture1 {
        flex-basis: 45%;
    }
    .first-block {
        flex-basis: 45%;
        margin-top: 0;
    }

    .no2 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 0;
        margin-right: 0;
    }
     
    .picture2 {
        flex-basis: 30%;
    }
    .second-block {
        flex-basis: 60%;
        margin-top: 0;
    }

    .no3 {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
    }
    .picture3 {
        flex-basis: 30%;
    }
    .third-block {
        flex-basis: 60%;
        margin-top: 0;
    }





    /* .sign1, .sign3, .sign5 {
        border-right: 2px solid rgb(156, 156, 156);
    }

    .sign5, .sign6 {
        border-bottom: none;
    }   */

    

    
    








@media (min-width: 1600px) {
    body {
        font-size: 40px;
    }

}